<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>First Page</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content padding>
<p>
  <button ion-button secondary (click)="load()">Go to second page</button>
</p>
  

