<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<p>
  <button ion-button secondary (click)="clicked()">Click this button</button>
</p>
  
<p>
  <button ion-button secondary (click)="load()">Go to First Page</button>
</p>
</ion-content>
  


